.LandingPage-buttonContainer{
    margin-bottom: 4rem;
}

.LandingPage-title{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.LandingPage-buttons{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
