#root{
  position: relative;
}

* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
  &::before, &::after {
    box-sizing: inherit;
  }
}

body{
  font-family: "Rubik", Arial, sans-serif;
  background: #F7F9FA;
  }

.LandingPage{
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
}

ul {
    list-style-type: none;
  }

a{
    text-decoration: none;
}

.center{
  text-align: center;
}


